@import "base";
@import "mixins";

.title {
  height: 5%;
  width: auto;
}
body {
  height: 100%;
  .mdl-layout {
    .mdl-layout__header {
      img {
        height: 58px;
      }
      #button__clear {
        margin-right: 16px;
      }
    }
  }
  .mdl-layout__content {
    height: calc(100% - 64px);
    .page-content {
      height: 100%;
      .mdl-grid {
        height: 100%;
        #map--wrapper {
          height: 100%;
          #map--canvas {
            width: 100%;
            height: 100%;
          }
        }
        .data-list {
          position: absolute;
          top: 78px;
          left: 16px;
          background-color: white;
          color: black;
          @include rounded(0.5em);
          max-height: 80vh;
          overflow-y: auto;
          #data-list__expand-button {
            width: 100%;
            display: inline-block;
            text-align: center;
          }
          #data-list__table {
            @include rounded(0.5em);
          }
          .data-list__title {
            text-align: center;
            margin-bottom: 0;
            padding: 8px;
          }
        }
      }
    }
  }
}
